body { 
  font-family: 'Georgia', serif; 
  font-size: 17px; 
  color: #000;
  text-align: left; 
}
h1   { 
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
div  {
  font-family: 'Garamond', 'Georgia', serif;
  text-align: center;
}
