<!DOCTYPE html>
<html>
  <head>
    <title>Vodka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <div class="hero-unit">
        <h1>Vodka:</h1>
        <p>A flask bootstrap template</p>
    </div>

  </body>
</html>
